<% content_for(:page_title) {"猫ちゃんのお世話依頼"} %>
<div class="cares-request-wrapper">
  <h2 class="cares-request-title">猫ちゃんのお世話依頼</h2>
  <p class="cares-request-count"><span><%= @search_count %></span> 件の依頼が来てるにゃ！</p>
  <% if @search_count == 0 %>
    <p class="no-hit">検索結果がヒットしなかったにゃ</p>
  <% else %>
    <div class="cares-request-container">
      <% if @search_posts %>
        <%= render "cares/search", search_posts: @search_posts %>
      <% else %>
        <%= render "cares/no_search", posts: @posts %>
      <% end %>
    </div>
  <% end %>
</div>