@mixin menu-list {
  list-style: none;
  color: #fff;
}

@mixin menu-link {
  text-decoration: none;
  color: #fff;
}

@mixin text-hover {
  transition: 0.15s;
  opacity: 0.5;
}

@mixin account-btn {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  background-color: #8acbc7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: $transition-time;
  &:hover {
    opacity: 0.5;
    transition: $transition-time;
  }
}

@mixin link-jump {
  text-decoration: none;
  color: #5ca5a0;
  &:hover {
    color: #2d7570;
  }
}

@mixin form-focus {
  outline: 0;
  box-shadow: 0px 0px 10px 0px #8acbc7;
  border-color: #8acbc7;
}

@mixin required {
  content: "※必須";
  background-color: #f0ad4e;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 7px;
  margin: 0px 5px;
  vertical-align: middle;
  border-radius: 10px;
  display: inline-block;
}

@mixin good {
  width: 60%;
  height: 40px;
  padding: 5px;
  background-color: #fff;
  color: #f3d321;
  border: 1px solid #f3d321;
  border-radius: 10px;
  cursor: pointer;
}

@mixin already-good {
  width: 60%;
  height: 40px;
  padding: 5px;
  background-color: #f3d321;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}