.owner {
  margin-top: 60px;
  &-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    .owner-profile {
      margin-right: 70px;
      background-color: #fff;
      padding: 40px 80px;
      border: $contents-border;
      border-radius: 10px;
      width: 550px;
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        &-image {
          border-radius: 50%;
          .owner-cat {
            border-radius: 50%;
          }
        }
        &-cat {
          font-size: 26px;
          &-list {
            padding: 10px 0 10px 20px;
          }
        }
      }
      &-bottom {
        padding-top: 10px;
        &-user {
          padding-left: 20px;
          font-size: 18px;
        }
        &-introduction {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 30px;
          &-title {
            font-size: 22px;
            padding: 10px 0 15px 20px;
          }
          &-text {
            padding-left: 20px;
            width: 100%;
            line-height: 1.8;
          }
        }
      }
    }
    .owner-link {
      list-style: none;
      display: flex;
      flex-direction: column;
      &-list {
        font-size: 22px;
        margin: 30px 0;
        .transition-link {
          @include link-jump;
        }
      }
      &-message-come {
        margin: 30px 0;
        font-size: 22px;
        &-btn {
          @include account-btn;
          padding: 10px 30px;
          &:hover {
            text-decoration: none;
          }
        }
      }
      &-message-start {
        margin: 30px 0;
        font-size: 22px;
        &-btn {
          @include account-btn;
          background-color: #94D4F6;
          padding: 10px 30px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .reivew-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-left: 25%;
    &-title {
      font-size: 20px;
      margin-bottom: 20px;
    }
    .review-form {
      width: 50%;
      height: 120px;
      font-size: 16px;
      padding: 10px;
      border-radius: 5px;
      border: $form-border;
      &:focus {
        @include form-focus;
      }
    }
    .review-btn {
      margin-left: 10px;
      margin-bottom: 25px;
      @include account-btn;
    }
  }
  .reviews-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-left: 25%;
    .review-title {
      font-size: 20px;
    }
    .no-review {
      font-size: 22px;
      margin: 30px 0 0 160px;
      background-color: #fff;
      padding: 50px;
      border: 2px solid #efefef;
      border-radius: 10px;
      width: 500px;
      text-align: center;
    }
    .review-container {
      background-color: #fff;
      border-radius: 5px;
      list-style: none;
      width: 70%;
      margin: 20px 0;
      padding: 20px;
      .review-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .review-avatar {
          display: flex;
          align-items: center;
          &-link {
            @include link-jump;
          }
          .review-image {
            border-radius: 50%;
            margin-right: 10px;
          }
        }
        .review-option {
          display: flex;
          .review-destroy {
            @include link-jump;
          }
          .review-date {
            padding-left: 10px;
          }
        }
      }
      .review-content {
        background-color: #efefef;
        border-radius: 5px;
        width: 93.5%;
        margin-left: auto;
        line-height: 1.8;
        padding: 20px;
      }
    }
  }
}