.cares-request-wrapper {
  margin-top: 60px;
  .cares-request-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }
  .cares-request-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 30px;
    padding: 60px 80px;
    width: 100%;
    &-card {
      width: 23%;
      text-align: center;
      margin: 0 20px 90px 0;
    }
    &-post {
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 15px;
      &-link {
        text-decoration: none;
        color: $font-color;
        padding: 30px 10px;
        display: block;
        transition: $transition-time;
        &:hover {
          @include text-hover;
        }
        &-box {
          &-image {
            border: 1px solid #222;
            border-radius: 50%;
          }
        }
        &-profile {
          padding: 10px 0 20px;
          &-top {
            font-size: 22px;
          }
          &-bottom {
            font-size: 16px;
            padding-top: 10px;
          }
        }
        &-feature {
          background-color: #efefef;
          width: 230px;
          margin: 0 auto;
          border-radius: 10px;
          text-align: left;
          padding: 10px;
          &-text {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            min-height: 48px;
          }
        }
      }
      &-good {
        .good-btn {
          @include good;
          transition: $transition-time;
          &:hover {
            @include text-hover;
          }
        }
        .good-already-btn {
          @include already-good;
          transition: $transition-time;
          &:hover {
            @include text-hover;
          }
        }
      }
    }
  }
}