footer {
  background-color: $background-color;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  .copyright {
    color: #fff
  }
}