header {
  background-color: #222;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}

.header-list {
  display: flex;
}

.list {
  margin: 0 10px;
}

.user-icon {
  margin-right: 20px;
}

.user-icon-img {
  border-radius: 50%;
}

.navbar-collapse {
  background-color: blue;
}